@{
    ViewData["Title"] = "listadescuentos";
}

<div class="container-fluid">
    <main class="py-2">
        <div class="content-container">
            <h1>Descuentos</h1>
        </div>
    </main>
</div>
