@model IEnumerable<Michus.Models.pa_lista_descuento_carta>

@{
    ViewData["Title"] = "Lista de Descuentos";
}

<link rel="stylesheet" href="~/assets/css/DescuentoStyle.css">

<div class="discount-manager">
    <div class="add-button-container">
        <button class="add-button">+</button>
    </div>

    <h1>Gestor de Descuentos</h1>
    <div class="filters">
        <select class="filter">
            <option>Etiquetas</option>
        </select>
        <select class="filter">
            <option>Descuentos</option>
        </select>
        <select class="filter">
            <option>Webs</option>
        </select>
        <button class="filter-button">🔍</button>
    </div>

    <div class="discount-cards">
        @foreach (var item in Model.Select((value, index) => new { value, index }))
        {
            <div class="discount-card">
                <div class="discount-header">
                    <span class="discount-badge">
                        @if (item.value.TipoDescuento == 1)
                        {
                            @($"s/. {item.value.PrecioDescuento}")
                        }
                        else
                        {
                            @($"{item.value.PrecioDescuento}%")
                        }
                    </span>
                    <div class="toggle">
                        <input type="checkbox" id="btn-@item.index">
                        <label for="btn-@item.index"></label>
                    </div>
                </div>
                <h2>PIONIER WEB - 20% PANTALONES HASTA ABRIL 2024 TT</h2>
                <div class="label">Cyber</div>
                <p>Desde: @(item.value.FechaInicio == DateTime.MinValue ? "NO APLICA" : item.value.FechaInicio.ToString("dd/MM/yyyy"))</p>
                <p>Hasta: @(item.value.FechaFin == DateTime.MinValue ? "NO APLICA" : item.value.FechaFin.ToString("dd/MM/yyyy"))</p>
            </div>
        }
    </div>
</div>
