@model List<Michus.Models.Producto>

<h2>Checkout</h2>
<div>
    @foreach (var product in Model)
    {
        <div>
            <h4>@product.ProdNom</h4>
            <p>Price: @product.Precio</p>
        </div>
    }
</div>

<h3>Total: @Model.Sum(p => p.Precio)</h3>

<form asp-action="ProcessPayment" method="post">
    <button type="submit">Complete Purchase</button>
</form>
